{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Edenthought | Password Reset</title>
</head>

<body>
    <br>
    <div class="container p-5 form-layout mt-3 border border-dark">
    <h3>Password Reset. &#128533;</h3>
    <hr>
    <p>Forgot your password ?</p>
    <p>If so , Please kindly enter your Email below.</p>
    <form method="POST" autocomplete="off" accept="Email">
        {% csrf_token %}
        {{form}}
        <br><br>
        <input class="btn btn-dark form-control mt-2" type="submit" name="Send Email" value="Send Email">
        <a href="{% url '' %}" class="btn btn-dark form-control mt-2">Cancel</a>
    </form>
    </div>
</body>

</html>