{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Complete Reset</title>
</head>

<body>
    <br>
    <div class="container p-5 form-layout mt-3 border border-dark">
        <h3>Password Reset Complete.</h3>
        <hr>
        <p>Your password has been set . <br> You may go ahead and login to your account.</p>
        <a class="btn btn-dark form-control mt-2" href="{% url 'login' %}">Login</a>
        <a href="{% url '' %}" class="btn btn-dark form-control mt-2">Cancel</a>
    </div>
</body>

</html>