{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Reset Form</title>
</head>
<body>
    <br>
    <div class="container p-5 form-layout mt-3 border border-dark">
    <h3>Enter your new Password.</h3>
    <hr>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-dark form-control mt-2" type="submit" name="Update Password" value="Update Password">
        <a href="{% url '' %}" class="btn btn-dark form-control mt-2">Cancel</a>
    </form>
    </div>
</body>
</html>